.autocomplete-input {
  position: relative;
  input {
    width: 100%;
  }
}

.suggestion-container {
  width: 100%;
  position: absolute;
  border-radius: 4px;
  height: fit-content;
  text-decoration: none;
}

.suggestion {
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: white;
  border: rgba(128, 128, 128, 0.63) solid 1px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: rgb(226, 226, 226);
  }
}