.home {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-banner {
  background-color: rgb(20, 20, 197);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .qp-icon {
      font-size: 15em;
      margin-bottom: 20px;
      color: white !important;
    }

    h1 {
      font-size: 2.8em;
      color: white;
    }

    h4 {
      color: white;
      font-weight: 400;
    }
  }
}

.login-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}