.admin-dashboard {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: black;
}

.qp-gen-container {
  border: rgb(49, 49, 49) dashed 4px;
  height: 200px;
  margin-top: 50px !important;
  display: flex;
  margin-bottom: 50px !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  h1 {
    color: gray;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    .gen-qp-icon {
      font-size: 3em;
    }
  }

  &:hover {
    h1 {
      color: white;
    }
    border: white dashed 4px;
  }
}

.admin-activity {
  width: 95%;
  background-color: rgba(19, 19, 19, 0.719);
  margin:auto;
  height: fit-content;
  border: rgb(71, 71, 71) solid 1px;
  border-radius: 3px;
}

.pending-reqs {
  width: 95%;
  height: fit-content !important;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.admin-category {
  display: flex;
  margin-bottom: 20px !important;
  padding: 20px;
  width: 95%;
  margin: auto;

  h2 {
    width: 50%;
    padding: 15px;
    cursor: pointer;
    color: white;
  }
}

.teachers-onboard {
  h1 {
    margin-top: 50px;
    font-size: 3em;
    color: white;
  }
}

.admin-qpgen-modal {
  background-color: rgb(12, 12, 12);
  border: rgb(73, 73, 73) solid 1px;
  border-radius: 4px;
  position: absolute;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
  height: 500px;
}

.part-b-head {
  margin-top: 30px !important;
}


.part-a-head, .part-b-head {
  width: 90%;
  margin: auto;
  h1 {
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
}

.part-a-diff, .part-b-diff {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  h1 {
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    width: 30%;
    color: white;
  }
}

.qp-publish-container {
  margin-top: 50px !important;
  width: 90%;
  margin: auto;
  button {
    background-color: rgb(20, 20, 197);
    color: white;
    font-size: 1.3em;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    border: blue solid 1px;
    outline: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sub-select-container {
  margin-bottom: 30px !important;
  h1 {
    color: white;
    font-weight: 400;
    font-size: 1em;
    font-weight: 400;
  }
  width: 90%;
  margin: auto;
}

.sub-select {
  color: white !important;
  font-size: 1.2em !important;
  width: 100% !important;
  background-color: rgb(53, 53, 53) !important;
}

.part-a-active, .part-b-active {
  background-color: rgb(20, 20, 197);
  color: white;
    font-size: 1.3em;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    border: blue solid 1px;
    outline: none;
}

.preview-modal {
  background-color: rgb(12, 12, 12);
  border: rgb(73, 73, 73) solid 1px;
  border-radius: 4px;
  position: absolute;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
  height: 500px;
}

.pdf-previewer {
  width: 90%;
  margin: auto;
  height: 400px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.publish-btn-container {
  width: 90%;
  margin: auto;
  button {
    background-color: rgb(20, 20, 197);
    color: white;
      font-size: 1.3em;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      border-radius: 4px;
      border: blue solid 1px;
      outline: none;

      &:hover {
        opacity: 0.7;
      }
  }
}